---
title: cargo-bloat report
---

<% action_repo = GithubRepoLink.new "matthiasbeyer", "actions-to-website" %>

<% cargo_bloat.map do |obj| %>
    <ul>
        <li>Revision: <%= link_to obj["gitrev"], action_repo.commit(obj["gitrev"]) %></li>
        <li>file-size: <%= obj["data"]["file-size"] %></li>
        <li>text-section-size: <%= obj["data"]["text-section-size"] %></li>
    </ul>
    <table class="table">
        <thead>
            <tr>
                <th>crate</th>
                <th>size</th>
            </tr>
        </thead>

        <tbody>
            <% obj["data"]["crates"].map do |crate| %>
                <tr>
                    <td><%= crate["name"] %></td>
                    <td><%= crate["size"] %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>
