name: Coverage on branch

on:
  push:
  pull_request:
    types:
      - labeled
    branches:
      - master

jobs:
  site-coverage-branch:
    if: |
      contains(github.event.pull_request.labels.*.name, 'generate-coverage') ||
      github.event.label.name == 'generate-coverage'

    permissions:
      contents: write
      pull-requests: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v25
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - uses: cachix/cachix-action@v14
        with:
          name: matthiasbeyer-actions-to-website
          # If you chose API tokens for write access OR if you have a private cache
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Build coverage report for PR
        run: nix --extra-experimental-features "nix-command flakes" build .#coverage

      - name: Deploy coverage report for PR
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./result/
          destination_dir: llvmcov/${{ github.sha }}
          keep_files: true
          commit_message: Deploy coverage report for PR ${{ github.event.pull_request.number }} commit ${{ github.sha }}

      - name: Comment coverage website link
        uses: peter-evans/create-or-update-comment@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            [Coverage report](https://matthiasbeyer.github.io/actions-to-website/llvmcov/${{ github.sha }}/html/index.html) for ${{ github.sha }}.
            ([lcov download](https://matthiasbeyer.github.io/actions-to-website/llvmcov/${{ github.sha }}/lcov))

